<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servicio</servlet-name>
        <servlet-class>com.logica.Servicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.logica.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servicio</servlet-name>
        <url-pattern>/servicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <description>direccion de almacenamiento de la carga de archivos</description>
        <param-name>file-upload</param-name>
        <param-value>
            /home/walter/apache-tomcat-8.0.24/webapps/datos
        </param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
